{% extends 'base.html.twig' %}

{% block title %}{{'messages.appTitle' | trans }}{% endblock %}

{% block body %}
    <main class="container-fluid">
	<div class="container-fluid">
	    <table id="taula" class="table bootstrap-table mt-3">
		<thead>
		    <tr class="row">
			<th data-sortable="true">{{"category.id" | trans | capitalize}}</th>
			<th data-sortable="true">{{"category.name" | trans | capitalize}}</th>
			<th data-sortable="true">{{"category.concept" | trans | capitalize}}</th>
			<th data-sortable="true" data-field="options">{{"options" | trans | capitalize}}</th>
		    </tr>
		</thead>
		<tbody>
		    {% if categorys is defined and categorys|length > 0 %}
			{% for category in categorys %}
			<tr>
			    <td>{{category.id}}</td>
			    {% if app.request.locale ==  'es' %}
				<td>{{category.name}}</td>
				<td>{{category.concept.name}}</td>
			    {% else %}
				<td>{{category.nameEu}}</td>
				<td>{{category.concept.nameEu}}</td>
			    {% endif %}
			    <td>
				<a href="{{ path ("category_show",{'id': category.id })}}"><i class="fa fa-eye"></i></a>
				&nbsp;<a href="{{ path ("category_edit",{'id': category.id })}}"><i class="fa fa-edit"></i></a>
				&nbsp;<a class="js-delete" href="#" data-url='{{ path ("category_delete",{'id': category.id })}}'><i class="fa fa-trash"></i></a>
			    </td>
			</tr>
			{% endfor %}
		    {% else %}
			<tr><td colspan="4">{{"messages.results0" | trans }}</td></tr>
		    {% endif %}
		</tbody>
	    </table>
	    <span class="pull-right"><a href="{{ path ('category_new') }}" class="btn btn-primary btn-rounded fixed-bottom-right"><i class="fa fa-plus" title='{{ "btn.new" | trans | capitalize }}'></i></a></span>
	</div>
    </main>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('category_list') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('category_list') }}
{% endblock %}
