<nav class="navbar navbar-expand navbar-dark bg-primary mb-1">
  <a class="navbar-brand" href="#">&nbsp;</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
	<li class='nav-item'>
	  <a class='nav-link' href="{{ path('receipt_home') }}">{{"navitem.receipts" | trans | capitalize}}</a>
	</li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarTaxes" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{ 'navitem.taxes' | trans | capitalize }}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarTaxes">
          <a class="dropdown-item" href="{{ path('exam_new') }}">{{"navitem.exams" | trans | capitalize}}</a>
        </div>
      </li>	
{#      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarPaymentTypes" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{ 'navitem.paymentTypes' | trans | capitalize }}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarPaymentTypes">
          <a class="dropdown-item" href="{{ path('receipt_home') }}">{{"navitem.receipts" | trans | capitalize}}</a>
          <a class="dropdown-item" href="{{ path('receipt_new') }}">{{"navitem.exams" | trans | capitalize}}</a>
        </div>
      </li>	
#}    {% if is_granted('ROLE_ADMIN') %}
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarAdministration" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{ 'navitem.administration' | trans | capitalize }}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarAdministration">
	  <a class="dropdown-item" href="{{ path('concept_list') }}">{{"navitem.concepts" | trans | capitalize}}</a>
          <a class="dropdown-item" href="{{ path('receipt_home') }}">{{"navitem.receipts" | trans | capitalize}}</a>
          <a class="dropdown-item" href="{{ path('mipago_list_payments') }}">{{"navitem.payments" | trans | capitalize}}</a>
        </div>
      </li>	
    {% endif %}	
    </ul>
  </div>
</nav>