{% extends 'base.html.twig' %}

{% block title %}{{'messages.appTitle' | trans }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bower_components/bootstrap-table/dist/bootstrap-table.min.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('bower_components/jquery-ui/themes/base/jquery-ui.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('bower_components/fontawesome/css/all.min.css') }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block message %}
    {% for msg in app.session.flashBag.get('success') %}
	<div class="alert alert-success margin-top-13">
	    {{ msg | trans}}
	</div>
    {% endfor %}
    {% for msg in app.session.flashBag.get('error') %}
	<div class="alert alert-danger margin-top-13">
	    {{ msg | trans}}
	</div>
    {% endfor %}
{% endblock %}


{% block body %}
    <main class="container-fluid">
	<div class="mt-2">
	{{ include('receipt/_form.html.twig',{
			    }) }}
	</div>
	<div class="container-fluid">
	{% if is_granted('ROLE_ADMIN')%}
	    <table id="taula" class="table bootstrap-table mt-3">
		<thead>
		    <tr class="row">
			<th data-sortable="true">{{"receipt.id" | trans | capitalize}}</th>
			<th data-sortable="true">{{"receipt.numeroReferenciaGTWIN" | trans | capitalize}}</th>
			<th data-sortable="true" data-width="15%">{{"receipt.concepto" | trans | capitalize}}</th>
			<th data-sortable="true">{{"receipt.dni" | trans | capitalize}}</th>
			<th data-sortable="true">{{"receipt.nombre" | trans | capitalize}}</th>
			<th data-sortable="true">{{"receipt.apellido1" | trans | capitalize}}</th>
			<th data-sortable="true">{{"receipt.apellido2" | trans | capitalize}}</th>
			<th data-sortable="true">{{"receipt.importe" | trans | capitalize}}</th>
			<th data-sortable="true">{{"receipt.ultimoDiaPago" | trans | capitalize}}</th>
			<th data-sortable="true">{{"receipt.payd" | trans | capitalize}}</th>
			<th data-sortable="true" data-field="options">{{"options" | trans | capitalize}}</th>
		    </tr>
		</thead>
		<tbody>
		    {% if receipts is defined and receipts|length > 0 %}
			{% for receipt in receipts %}
			<tr>
			    <td>{{receipt.id }}</td>
			    <td>{{receipt.numeroReferenciaGTWIN }}</td>
			    <td data-width="15%">{{receipt.concepto }}</td>
			    <td>{{receipt.dni}}</td>
			    <td>{{receipt.nombre}}</td>
			    <td>{{receipt.apellido1}}</td>
			    <td>{{receipt.apellido2}}</td>
			    <td>{{receipt.importe}}</td>
			    <td>{{receipt.ultimoDiaPago|date("Y/m/d")}}</td>
			    <td>
				{% if receipt.payment != null %}
				    {% if receipt.payment.isPaymentSuccessfull %}
					{{ 'messages.payd' | trans | capitalize }}
				    {% else %}
					{{ "messages.unpayd" | trans | capitalize }}
				    {% endif %}
				{% endif %}
			    </td>
			    <td>
				{% if receipt.payment == null or not receipt.payment.isPaymentSuccessfull %}
				    <a class="js-btnPay" href="javascript:fireAlert('{{ "confirmation.title" | trans | capitalize }}','{{ "receipt.id" | trans | capitalize }}: {{ receipt.numeroReferenciaGTWIN }}<br/>{{ "receipt.concepto" | trans | capitalize }}: {{ receipt.concepto }}<br/>{{ "receipt.dni" | trans | capitalize }}: {{ receipt.dni }}<br/>{{ "receipt.nombre" | trans | capitalize }}: {{ receipt.nombre }}<br/>{{ "receipt.apellidos" | trans | capitalize }}: {{ receipt.apellido1 }} {{ receipt.apellido2 }}<br/>{{ "receipt.importe" | trans | capitalize }}: {{ receipt.importe|number_format(2, ',', '.') }}<br/>{{ "receipt.ultimoDiaPago" | trans | capitalize }}: {{ receipt.ultimoDiaPago|date("Y/m/d") }}<br/>','{{ "confirmation.pay" | trans | capitalize }}','{{ "confirmation.cancel" | trans | capitalize }}','{{ receipt.numeroReferenciaGTWIN }}','{{ receipt.dni }}');">
					<i class="fas fa-credit-card"></i>
				    </a>
				{% endif %}
			    </td>
			</tr>
			{% endfor %}
		    {% else %}
			<tr><td colspan="8">{{"messages.results0" | trans }}</td></tr>
		    {% endif %}
		</tbody>
	    </table>
{#	{% else %}
	    {% if receipts is defined and receipts|length > 0 %}
	    {% set receipt = receipts[0] %}
		
	    {% endif %}
#}	{% endif %}
	</div>
    </main>
{% endblock %}

{% block javascripts %}
    {{  parent() }}
    <script type="text/javascript" src="{{ asset('bower_components/bootstrap-table/dist/bootstrap-table.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bower_components/bootstrap-table/dist/extensions/export/bootstrap-table-export.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bower_components/bootstrap-table/dist/locale/bootstrap-table-es-ES.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bower_components/bootstrap-table/dist/locale/bootstrap-table-eu-EU.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bower_components/tableexport.jquery.plugin/tableExport.min.js') }}"></script>
    <script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
    <script type="text/javascript" src="{{ asset('node_modules/sweetalert2/dist/sweetalert2.all.min.js') }}"></script>
    <!-- Include a polyfill for ES6 Promises (optional) for IE11 and UC Browser support -->
    <script type="text/javascript" src="{{ asset('bower_components/promise-polyfill/dist/polyfill.js') }}"></script>
    <script type="text/javascript">
	function fireAlert (title,html,confirmationButtonText, cancelButtonText,numeroRecibo, dni) {
	    Swal.fire({
	      title: title,
	      html: html,
	      type: 'warning',
	      showCancelButton: true,
	      cancelButtonText: cancelButtonText,
	      confirmButtonColor: '#3085d6',
	      cancelButtonColor: '#d33',
	      confirmButtonText: confirmationButtonText,
	    }).then( function (result) {
		if (result.value) {
		    console.log(Routing.generate('receipt_pay', { numeroReferenciaGTWIN: numeroRecibo, dni: dni } ));
		    document.location.href=Routing.generate('receipt_pay', { numeroReferenciaGTWIN: numeroRecibo, dni: dni } );
		}
	    });
	}
    $(document).ready(function(){
		$('#taula').bootstrapTable({
			cache : false,
			showExport: true,
			exportTypes: ['excel'],
			exportDataType: 'all',
			exportOptions: {
				fileName: "receipts",
				ignoreColumn: ['options']
			},
			showColumns: false,
			pagination: true,
			search: true,
			striped: true,
			sortStable: true,
			pageSize: 10,
			pageList: [10,25,50,100],
			sortable: true,
			locale: 'es_{{ app.request.getLocale() | upper }}'
		});
		var $table = $('#taula');
		$(function () {
			$('#toolbar').find('select').change(function () {
			$table.bootstrapTable('destroy').bootstrapTable({
				exportDataType: $(this).val(),
			});
			});
		});
			{% if not is_granted('ROLE_USER') and receipts is defined and receipts|length > 0 %}
			{% set receipt = receipts[0] %}
			if ( $( "div.alert.alert-danger" ).length == 0 ) {
				var html = "{{ "receipt.id" | trans | capitalize }}: {{ receipt.numeroReferenciaGTWIN }}<br/>{{ "receipt.concepto" | trans | capitalize }}: {{ receipt.concepto }}<br/>{{ "receipt.dni" | trans | capitalize }}: {{ receipt.dni }}<br/>{{ "receipt.nombre" | trans | capitalize }}: {{ receipt.nombre }}<br/>{{ "receipt.apellidos" | trans | capitalize }}: {{ receipt.apellido1 }} {{ receipt.apellido2 }}<br/>{{ "receipt.importe" | trans | capitalize }}: {{ receipt.importe|number_format(2, ',', '.') }}<br/>{{ "receipt.ultimoDiaPago" | trans | capitalize }}: {{ receipt.ultimoDiaPago|date("Y/m/d") }}<br/>";
				fireAlert('{{ "confirmation.title" | trans | capitalize }}',html,'{{ "confirmation.pay" | trans | capitalize }}','{{ "confirmation.cancel" | trans | capitalize }}','{{ receipt.numeroReferenciaGTWIN }}','{{ receipt.dni }}');
			}
		{% endif %}
    });
    </script>
{% endblock javascripts %}