{% extends 'base.html.twig' %}

{% block title %}{{'messages.appTitle' | trans }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bower_components/bootstrap-table/dist/bootstrap-table.min.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('bower_components/jquery-ui/themes/base/jquery-ui.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('bower_components/fontawesome/css/all.min.css') }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block message %}
    {% for msg in app.session.flashBag.get('success') %}
	<div class="alert alert-success margin-top-13">
	    {{ msg | trans}}
	</div>
    {% endfor %}
    {% for msg in app.session.flashBag.get('error') %}
	<div class="alert alert-danger margin-top-13">
	    {{ msg | trans({'%message%' : message},"messages", app.request.locale) }}
	</div>
    {% endfor %}
{% endblock %}

{% block body %}
    <main>
	<div class="container-fluid mt-2 form-row">
	{{ form_start(form, {'attr': {'class': 'container-fluid form-group',
						 'novalidate': 'novalidate'
						} 
				       }) }}
	{{ form_errors(form) }}
	    <div class="custom-file col-lg-5">
	      {{ form_widget(form.file, { 'attr': { 'class' : 'js-file custom-file-input col-lg-4' } }) }}
	      <label id="js-label" class="custom-file-label" for="receipt_upload_type_form_file">Choose file</label>
	      {{ form_errors(form.file) }}
	    </div>
	</div>
	<div class="container-fluid mt-1 form-row">
	{{ form_widget(form.send, { 'attr': { 'class' : 'btn btn-primary ml-1' } }) }}
	{{ form_end(form, {'attr': {'class': '',
					    } 
				   }) }}
	</div>
    </main>
{% endblock body %}


{% block javascripts %}
    {{  parent() }}
    <script type="text/javascript">
	$(document).ready(function(){
	    $('.js-file').on('change', function(e){
		fullPath = $('#receipt_upload_type_form_file')[0].value;
		if (fullPath) {
		    var startIndex = (fullPath.indexOf('\\') >= 0 ? fullPath.lastIndexOf('\\') : fullPath.lastIndexOf('/'));
		    var filename = fullPath.substring(startIndex);
		    if (filename.indexOf('\\') === 0 || filename.indexOf('/') === 0) {
			filename = filename.substring(1);
		    }
		    $('#js-label').text(filename);
		}
	    });
	    
	    
	    $('.js-back').on('click',function(e){
		e.preventDefault();
		var url = e.currentTarget.dataset.url;
		document.location.href=url;
	    });
	});
    </script>    
{% endblock %}
