{{ form_start(form, {'attr': {'class': 'container-fluid form-group',
						 'novalidate': 'novalidate'
						} 
}) }}
{{ form_errors(form) }}
    <div class="form-row align-items-center mb-1"> 
	<div class="col-lg-2 col-md-2 col-sm-6">
	    {{ form_label(form.name) }}
	    {{ form_widget(form.name, { 'attr': { 'id': '', 'class' : 'form-control-sm' } }) }}
	    {{ form_errors(form.name) }}
	</div>
	<div class="col-lg-2 col-md-2 col-sm-6">
	    {{ form_label(form.nameEu) }}
	    {{ form_widget(form.nameEu, { 'attr': { 'id': '', 'class' : 'form-control-sm' } }) }}
	    {{ form_errors(form.nameEu) }}
	</div>
	<div class="col-lg-2 col-md-2 col-sm-6">
	    {{ form_label(form.concept) }}
	    {{ form_widget(form.concept, { 'attr': { 'id': '', 'class' : 'form-control-sm' } }) }}
	    {{ form_errors(form.concept) }}
	</div>
	<div class="col-lg-2 col-md-2 col-sm-6">
	    {{ form_label(form.totalTickets) }}
	    {{ form_widget(form.totalTickets, { 'attr': { 'id': '', 'class' : 'form-control-sm' } }) }}
	    {{ form_errors(form.totalTickets) }}
	</div>
    {% if not new %}
	<div class="col-lg-2 col-md-2 col-sm-6">
	    {{ form_label(form.remainingTickets) }}
	    {{ form_widget(form.remainingTickets, { 'attr': { 'id': '', 'class' : 'form-control-sm' } }) }}
	    {{ form_errors(form.remainingTickets) }}
	</div>
    {% endif %}
	<div class="col-lg-2 col-md-2 col-sm-6">
	    {{ form_label(form.maxTickets) }}
	    {{ form_widget(form.maxTickets, { 'attr': { 'id': '', 'class' : 'form-control-sm' } }) }}
	    {{ form_errors(form.maxTickets) }}
	</div>
	<div class="col-lg-2 col-md-2 col-sm-6">
	    {{ form_label(form.enabled) }}
	    {{ form_widget(form.enabled, { 'attr': { 'id': '', 'class' : 'form-control-sm' } }) }}
	</div>
    </div>
    <div class="form-row align-items-center mt-3"> 	
	{% if readonly == false %}
	    {{ form_widget(form.save, { 'attr': { 'class' : 'btn btn-primary ml-1' } }) }}
	{% endif %}
	{% set url = path('activity_list') %}
	{{ form_widget(form.back, { 'attr': { 'class' : 'js-back btn btn-primary ml-1' ,
					     'data-url' : url },
				  }) }}
    </div>
{{ form_end(form, {'attr': {'class': '',
			       } 
}) }}
