{% extends 'base.html.twig' %}

{% block title %}
    {{'messages.appTitle' | trans }}
{% endblock %}

{% block body %}
    <main class="container-fluid">
        <div class="mt-2">
            {{ include('receipt/_form.html.twig',{}) }}
        </div>
        <div class="container-fluid">
            {% if is_granted('ROLE_ADMIN') %}
                <table id="taula" class="table bootstrap-table mt-3">
                    <thead>
                        <tr>
                            <th data-sortable="true">{{"receipt.id" | trans | capitalize}}</th>
                            <th data-sortable="true">{{"receipt.numeroReferenciaGTWIN" | trans | capitalize}}</th>
                            <th data-sortable="true" data-width="15%">{{"receipt.concepto" | trans | capitalize}}</th>
                            <th data-sortable="true">{{"receipt.dni" | trans | capitalize}}</th>
                            <th data-sortable="true">{{"receipt.nombre" | trans | capitalize}}</th>
                            <th data-sortable="true">{{"receipt.apellido1" | trans | capitalize}}</th>
                            <th data-sortable="true">{{"receipt.apellido2" | trans | capitalize}}</th>
                            <th data-sortable="true">{{"receipt.importe" | trans | capitalize}}</th>
                            <th data-sortable="true">{{"receipt.ultimoDiaPago" | trans | capitalize}}</th>
                            <th data-sortable="true">{{"receipt.payd" | trans | capitalize}}</th>
                            <th data-sortable="true" data-field="options">{{"options" | trans | capitalize}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if receipts is defined and receipts|length > 0 %}
                            {% for receipt in receipts %}
                                <tr>
                                    <td>{{receipt.id}}</td>
                                    <td>{{receipt.numeroReferenciaGTWIN }}</td>
                                    <td data-width="15%">{{receipt.concepto }}</td>
                                    <td>{{receipt.dni}}</td>
                                    <td>{{receipt.nombre}}</td>
                                    <td>{{receipt.apellido1}}</td>
                                    <td>{{receipt.apellido2}}</td>
                                    <td>{{receipt.importe}}</td>
                                    <td>{{receipt.ultimoDiaPago|date("Y/m/d")}}</td>
                                    <td>
                                        {% if receipt.payment != null %}
                                            {% if receipt.payment.isPaymentSuccessfull %}
                                                {{ 'messages.payd' | trans | capitalize }}
                                            {% else %}
                                                {{ "messages.unpayd" | trans | capitalize }}
                                            {% endif %}
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if receipt.payment == null or not receipt.payment.isPaymentSuccessfull %}
                                            <a class="js-btnPay" data-numeroreferenciagtwin="{{ receipt.numeroreferenciagtwin }}" data-concepto="{{ receipt.concepto }}" data-dni="{{ receipt.dni }}" data-nombre="{{ receipt.nombre }}" data-apellido1="{{ receipt.apellido1 }}" data-apellido2="{{ receipt.apellido2 }}" data-importe="{{ receipt.importe|number_format(2, ',', '.') }}" data-ultimodiapago="{{ receipt.ultimodiapago|date(" Y/m/d") }}" href="#">
                                                <i class="fa fa-credit-card"></i>
                                            </a>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                        {% else %}
                            <tr>
                                <td colspan="8">{{"messages.results0" | trans }}</td>
                            </tr>
                        {% endif %}
                    </tbody>
                </table>
            {% else %}
                {% if receipts is defined and receipts|length > 0 %}
                    {% if not is_granted('ROLE_USER') and receipts is defined and receipts|length > 0 %}
                        {% set receipt = receipts[0] %}
                        <div id="js-autoPay" class="js-btnPay d-none" data-numeroreferenciagtwin="{{ receipt.numeroreferenciagtwin }}" data-concepto="{{ receipt.concepto }}" data-dni="{{ receipt.dni }}" data-nombre="{{ receipt.nombre }}" data-apellido1="{{ receipt.apellido1 }}" data-apellido2="{{ receipt.apellido2 }}" data-importe="{{ receipt.importe|number_format(2, ',', '.') }}" data-ultimodiapago="{{ receipt.ultimodiapago|date(" Y/m/d") }}" href="#">&nbsp;</div>
                    {% endif %}
                {% endif %}
            {% endif %}
        </div>
    </main>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('receipt_list') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('receipt_list') }}
{% endblock %}
