{{ form_start(form, {'attr': {'class': 'container-fluid form-group',
						 'novalidate': 'novalidate'
						} 
}) }}
{{ form_errors(form) }}
    <div class="form-row align-items-center mb-1"> 
	<div class="col-lg-2 col-md-2 col-sm-6">
{#		{{ form_label(form.numeroReferencia, null, { 'label_attr': {'class':'col-form-label-sm' } }) }}#}
	    {{ form_label(form.entity) }}
	    {{ form_widget(form.entity, { 'attr': { 'class' : 'form-control-sm' } }) }}
	</div>
	<div class="col-lg-2 col-md-2 col-sm-6">
{#		{{ form_label(form.numeroReferencia, null, { 'label_attr': {'class':'col-form-label-sm' } }) }}#}
	    {{ form_label(form.suffix) }}
	    {{ form_widget(form.suffix, { 'attr': { 'class' : 'form-control-sm' } }) }}
	</div>
	<div class="col-lg-2 col-md-2 col-sm-6">
{#		{{ form_label(form.numeroReferencia, null, { 'label_attr': {'class':'col-form-label-sm' } }) }}#}
	    {{ form_label(form.accountingConcept) }}
	    {{ form_widget(form.accountingConcept, { 'attr': { 'class' : 'form-control-sm' } }) }}
	</div>
	<div class="col-lg-2 col-md-2 col-sm-6">
{#		{{ form_label(form.numeroReferencia, null, { 'label_attr': {'class':'col-form-label-sm' } }) }}#}
	    {{ form_label(form.name) }}
	    {{ form_widget(form.name, { 'id': '', 'attr': { 'class' : 'form-control-sm' } }) }}
	</div>
	<div class="col-lg-2 col-md-2 col-sm-6">
{#		{{ form_label(form.numeroReferencia, null, { 'label_attr': {'class':'col-form-label-sm' } }) }}#}
	    {{ form_label(form.nameEu) }}
	    {{ form_widget(form.nameEu, { 'id': '', 'attr': { 'class' : 'form-control-sm' } }) }}
	</div>
	<div class="col-lg-2 col-md-2 col-sm-6">
	    {{ form_label(form.unitaryPrice) }}
	    {{ form_widget(form.unitaryPrice, { 'attr': { 'id': 'input-dni', 'class' : 'form-control-sm' } }) }}
	</div>
    </div>
    {% if readonly == false %}
	{{ form_widget(form.save, { 'attr': { 'class' : 'btn btn-primary ml-1' } }) }}
    {% endif %}
    {% set url = path('concept_list') %}
    {{ form_widget(form.back, { 'attr': { 'class' : 'js-back btn btn-primary ml-1' ,
					 'data-url' : url },
			      }) }}
    </div>
{{ form_end(form, {'attr': {'class': '',
			       } 
}) }}
