{% extends 'base.html.twig' %}

{% block title %}{{'messages.appTitle' | trans }}{% endblock %}

{% block body %}
    <main class="container-fluid" >
	<div class="container-fluid">
	    <table id="taula" class="table bootstrap-table mt-3">
		<thead>
		    <tr>
			<th data-sortable="true">{{"concept.id" | trans | capitalize}}</th>
			<th data-sortable="true">{{"concept.entity" | trans | capitalize}}</th>
			<th data-sortable="true">{{"concept.suffix" | trans | capitalize}}</th>
			<th data-sortable="true">{{"concept.accountingConcept" | trans | capitalize}}</th>
			<th data-sortable="true">{{"concept.name" | trans | capitalize}}</th>
			<th data-sortable="true">{{"concept.unitaryPrice" | trans | capitalize}}</th>
			<th data-sortable="true" data-field="options">{{"options" | trans | capitalize}}</th>
		    </tr>
		</thead>
		<tbody>
		    {% if concepts is defined and concepts|length > 0 %}
			{% for concept in concepts %}
			<tr>
			    <td>{{concept.id}}</td>
			    <td>{{concept.entity}}</td>
			    <td>{{concept.suffix}}</td>
				<td>{{concept.accountingConcept}}</td>
			    {% if app.request.locale == 'es' %}
				<td>{{concept.name}}</td>
			    {% else %}
				<td>{{concept.nameEu}}</td>
			    {%endif%}
			    <td>{{concept.unitaryPrice}}</td>
			    <td>
				<a href="{{ path ("concept_show",{'id': concept.id })}}"><i class="fa fa-eye"></i></a>
				&nbsp;<a href="{{ path ("concept_edit",{'id': concept.id })}}"><i class="fa fa-edit"></i></a>
				&nbsp;<a class="js-delete" href="#" data-url='{{ path ("concept_delete",{'id': concept.id })}}'><i class="fa fa-trash"></i></a>
			    </td>
			</tr>
			{% endfor %}
		    {% else %}
			<tr><td colspan="4">{{"messages.results0" | trans }}</td></tr>
		    {% endif %}
		</tbody>
	    </table>
	    <span class="pull-right"><a href="{{ path ('concept_new') }}" class="btn btn-primary btn-rounded fixed-bottom-right"><i class="fa fa-plus" title='{{ "btn.new" | trans | capitalize }}'></i></a></span>
	</div>
    </main>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('concept_list') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('concept_list') }}
{% endblock %}
