{% extends "@MiPago/default/layout.html.twig" %}
{% trans_default_domain "mipago" %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bower_components/bootstrap-table/dist/bootstrap-table.min.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('bower_components/jquery-ui/themes/base/jquery-ui.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('bower_components/fontawesome/css/all.min.css') }}" rel="stylesheet" type="text/css">
{#    <link href="{{ asset('bower_components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css') }}" rel="stylesheet" type="text/css">
#}    <link href="{{ asset('node_modules/pc-bootstrap4-datetimepicker/build/css/bootstrap-datetimepicker.min.css') }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block error %}
    {{ exception.message | trans({'%suffixes%' : suffixes},"mipago", app.request.locale) }}
{% endblock %}

{% block body %}
    <main>
	<div class="container-fluid mt-2">
	{{ include('@MiPago/default/_form.html.twig',{
			    }) }}
	</div>
	<div class="container">
	    <table id="results-table" class="table bootstrap-table mt-3">
		<thead>
		    <tr class="row">
			<th data-sortable="true">{{"payment.timestamp" | trans | capitalize}}</th>
			<th data-sortable="true" data-width="15%">{{"payment.reference_number" | trans | capitalize}}</th>
			<th data-sortable="true">{{"payment.suffix" | trans | capitalize}}</th>
{#			<th data-sortable="true">{{"payment.registered_payment_id" | trans | capitalize}}</th>#}
			<th data-sortable="true">{{"payment.status" | trans | capitalize}}</th>
{#			<th data-sortable="true">{{"payment.status_message" | trans | capitalize}}</th>#}
			<th data-sortable="true">{{"payment.quantity" | trans | capitalize}}</th>
{#			<th data-sortable="true">{{"payment.name" | trans | capitalize}}</th>
			<th data-sortable="true">{{"payment.surname_1" | trans | capitalize}}</th>
			<th data-sortable="true">{{"payment.surname_2" | trans | capitalize}}</th>
#}			<th data-sortable="true">{{"payment.nif" | trans | capitalize}}</th>
{#			<th data-sortable="true">{{"payment.phone" | trans | capitalize}}</th>#}
			<th data-sortable="true">{{"payment.email" | trans | capitalize}}</th>
{#			<th data-sortable="true">{{"payment.operation_number" | trans | capitalize}}</th>#}
			<th data-sortable="true">{{"label.options" | trans | capitalize}}</th>
		    </tr>
		</thead>
		<tbody>
		    {% if payments is defined and payments|length > 0 %}
			{% for payment in payments %}
			<tr>
			    <td>{{payment.timestamp | date('Y-m-d H:i:s') }}</td>
			    <td>{{payment.reference_number }}</td>
			    <td data-width="15%">{{payment.suffix }}</td>
{#			    <td>{{payment.registered_payment_id}}</td>#}
			    <td>{{ constant('MiPago\\Bundle\\Entity\\Payment::PAYMENT_STATUS_DESCRIPTION')[payment.status] | trans | capitalize }}</td>
{#			    <td>{{payment.statusMessage}}</td>
#}			    <td>{{payment.quantity}}</td>
{#			    <td>{{payment.name}}</td>
			    <td>{{payment.surname_1}}</td>
			    <td>{{payment.surname_2}}</td>
#}			    <td>{{payment.nif}}</td>
{#			    <td>{{payment.phone}}</td>#}
			    <td>{{payment.email}}</td>
{#			    <td>{{payment.operationNumber}}</td>#}
			    <td><a href="{{path("mipago_show_payment", {
				    'id': payment.id,
				})}}"><i class="fas fa-eye"></i></a>
			    </td>
			</tr>
			{% endfor %}
		    {% else %}
			<tr><td colspan="13">{{"messages.results0" | trans }}</td></tr>
		    {% endif %}
		</tbody>
	    </table>
	</div>
    </main>
{% endblock body %}

{% block javascripts %}
    {{  parent() }}
    <script type="text/javascript" src="{{ asset('bower_components/bootstrap-table/dist/bootstrap-table.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bower_components/bootstrap-table/dist/extensions/export/bootstrap-table-export.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bower_components/bootstrap-table/dist/locale/bootstrap-table-es-ES.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bower_components/bootstrap-table/dist/locale/bootstrap-table-eu-EU.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bower_components/tableexport.jquery.plugin/tableExport.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bower_components/moment/min/moment.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bower_components/moment/locale/es.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bower_components/moment/locale/eu.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bower_components/moment/locale/en-gb.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bower_components/bootstrap/dist/js/bootstrap.bundle.min.js') }}"></script>
{#    <script type="text/javascript" src="{{ asset('bower_components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js') }}"></script>
#}    <script type="text/javascript" src="{{ asset('node_modules/pc-bootstrap4-datetimepicker/build/js/bootstrap-datetimepicker.min.js') }}"></script>

    <script type="text/javascript">
    $(document).ready(function(){
	$('#results-table').bootstrapTable({
	        cache : false,
		showExport: true,
		exportTypes: ['excel'],
		exportDataType: 'all',
		exportOptions: {
		    fileName: "payments",
		    ignoreColumn: [7],
		},
		showColumns: false,
		pagination: true,
		search: true,
		striped: true,
		sortStable: true,
		pageSize: 10,
		pageList: [10,25,50,100],
		sortable: true,
		locale: 'es_{{ app.request.getLocale() | upper }}'
	});
	var $table = $('#results-table');
	$(function () {
	    $('#toolbar').find('select').change(function () {
		$table.bootstrapTable('destroy').bootstrapTable({
		    exportDataType: $(this).val(),
		});
	    });
	});
	$.extend(true, $.fn.datetimepicker.defaults, {
	  icons: {
	    time: 'far fa-clock',
	    date: 'far fa-calendar',
	    up: 'fas fa-arrow-up',
	    down: 'fas fa-arrow-down',
	    previous: 'fas fa-chevron-left',
	    next: 'fas fa-chevron-right',
	    today: 'fas fa-calendar-check',
	    clear: 'far fa-trash-alt',
	    close: 'far fa-times-circle'
	  }
	});	
	$('#payment_type_form_date_from').datetimepicker({
	    locale: '{{ app.request.getLocale() }}',
	    format: 'YYYY-MM-DD HH:mm:ss',
	});
	$('#payment_type_form_date_to').datetimepicker({
	    locale: '{{ app.request.getLocale() }}',
	    format: 'YYYY-MM-DD HH:mm:ss',
	});
    });
    </script>
{% endblock javascripts %}