{% extends "@MiPago/default/layout.html.twig" %}
{% trans_default_domain "mipago" %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bower_components/bootstrap-table/dist/bootstrap-table.min.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('bower_components/jquery-ui/themes/base/jquery-ui.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('bower_components/fontawesome/css/all.min.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('node_modules/pc-bootstrap4-datetimepicker/build/css/bootstrap-datetimepicker.min.css') }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block error %}
    {{ exception.message | trans({'%suffixes%' : suffixes},"mipago", app.request.locale) }}
{% endblock %}

{% block body %}
    <main>
	<div class="container-fluid mt-2">
	{{ include('@MiPago/default/_form.html.twig',{
	    'readonly' : true
			    }) }}
	</div>
    </main>
{% endblock body %}

{% block javascripts %}
    {{  parent() }}
    <script type="text/javascript">
    $(document).ready(function(){
	$('#payment_type_form_back').on('click', function(e){
	    e.preventDefault();
	    window.location.href='{{path('mipago_list_payments')}}';
	})
    });
    </script>
{% endblock javascripts %}