<div class="card w-100">
  <div class="card-body p-0">
	{{ form_start(form, {'attr': {'class': 'container-fluid p-2',
						 'novalidate': 'novalidate'
						} 
				       }) }}
	{{ form_errors(form) }}
	<div class="form-row">
	    {% if search %}
		<div class="col-11 col-sm-5 col-md-3 col-lg-2">
		    <div class="w-100">{{ form_label(form.date_from) }}</div>
		    <div class="input-group mb-2">
			<div class="input-group-prepend">
			    <span class="input-group-text"><i class="fa fa-calendar"></i></span>
			    {{ form_widget(form.date_from, { 'attr': { 'class' : 'form-control-sm' } }) }}
			    {{ form_errors(form.date_from) }}
			</div>
		    </div>
		</div>
		<div class="col-11 col-sm-5 col-md-3 col-lg-2 ml-1">
		    <div>{{ form_label(form.date_to) }}</div>
		    <div class="input-group mb-2">
			<div class="input-group-prepend">
			    <span class="input-group-text"><i class="fa fa-calendar"></i></span>
			    {{ form_widget(form.date_to, { 'attr': { 'class' : 'form-control-sm' } }) }}
			    {{ form_errors(form.date_to) }}
			</div>
		    </div>
		</div>
	    {% else %}
		<div class="col-7 col-sm-5 col-md-3 col-lg-3">
		    <div class="w-100">{{ form_label(form.timestamp) }}</div>
		    <div class="input-group mb-2">
			<div class="input-group-prepend">
			    <span class="input-group-text"><i class="fa fa-calendar"></i></span>
			    {{ form_widget(form.timestamp, { 'attr': { 'class' : 'form-control-sm' } }) }}
			    {{ form_errors(form.timestamp) }}
			</div>
		    </div>
		</div>
	    {% endif %}
	    <div class="col-7 col-lg-2 col-md-2 mb-2">
		{{ form_label(form.reference_number) }}
		{{ form_widget(form.reference_number, { 'attr': { 'id': '', 'class' : 'form-control-sm' } }) }}
		{{ form_errors(form.reference_number) }}
	    </div>
	    <div class="col-4 col-lg-1 col-md-1">
		{{ form_label(form.suffix) }}
		{{ form_widget(form.suffix, { 'attr': { 'id': '', 'class' : 'form-control-sm' } }) }}
		{{ form_errors(form.suffix) }}
	    </div>
	    <div class="col-7 col-lg-2 col-md-2">
		{{ form_label(form.status) }}
		{{ form_widget(form.status, { 'attr': { 'id': '', 'class' : 'form-control-sm' } }) }}
		{{ form_errors(form.status) }}
	    </div>
	    {% if not search %}
		<div class="col-8 col-lg-3 col-md-3 mb-2">
		    {{ form_label(form.status_message) }}
		    {{ form_widget(form.status_message, { 'attr': { 'id': '', 'class' : 'form-control-sm' } }) }}
		    {{ form_errors(form.status_message) }}
		</div>
	    {% endif %}
	</div>
	<div class="form-row">
	    <div class="col col-lg-4 col-md-3">
		{{ form_label(form.registered_payment_id) }}
		{{ form_widget(form.registered_payment_id, { 'attr': { 'id': '', 'class' : 'form-control-sm' } }) }}
		{{ form_errors(form.registered_payment_id) }}
	    </div>
	    <div class="col-4 col-lg-2 col-md-2 mb-2">
		{{ form_label(form.nif) }}
		{{ form_widget(form.nif, { 'attr': { 'id': '', 'class' : 'form-control-sm' } }) }}
		{{ form_errors(form.nif) }}
	    </div>
	    <div class="col-8 col-lg-3 col-md-3 mb-2">
		{{ form_label(form.email) }}
		{{ form_widget(form.email, { 'attr': { 'id': '', 'class' : 'form-control-sm' } }) }}
		{{ form_errors(form.email) }}
	    </div>
	    {% if not search %}
		<div class="col-8 col-lg-3 col-md-3 mb-2">
		    {{ form_label(form.name) }}
		    {{ form_widget(form.name, { 'attr': { 'id': '', 'class' : 'form-control-sm' } }) }}
		    {{ form_errors(form.name) }}
		</div>
		<div class="col-8 col-lg-3 col-md-3 mb-2">
		    {{ form_label(form.surname_1) }}
		    {{ form_widget(form.surname_1, { 'attr': { 'id': '', 'class' : 'form-control-sm' } }) }}
		    {{ form_errors(form.surname_1) }}
		</div>
		<div class="col-8 col-lg-3 col-md-3 mb-2">
		    {{ form_label(form.surname_2) }}
		    {{ form_widget(form.surname_2, { 'attr': { 'id': '', 'class' : 'form-control-sm' } }) }}
		    {{ form_errors(form.surname_2) }}
		</div>
		<div class="col-8 col-lg-3 col-md-3 mb-2">
		    {{ form_label(form.phone) }}
		    {{ form_widget(form.phone, { 'attr': { 'id': '', 'class' : 'form-control-sm' } }) }}
		    {{ form_errors(form.phone) }}
		</div>
		<div class="col-8 col-lg-3 col-md-3 mb-2">
		    {{ form_label(form.operation_number) }}
		    {{ form_widget(form.operation_number, { 'attr': { 'id': '', 'class' : 'form-control-sm' } }) }}
		    {{ form_errors(form.operation_number) }}
		</div>
	{% endif %}
	</div>
	<div class="form-row">
	    {% if search %}
		<div class="col-6 col-lg-2 col-md-2 mb-2">
		    {{ form_widget(form.search, { 'attr': { 'id': '', 'class' : '' } }) }}
		</div>
	    {% endif %}

	    {% if not search %}
		<div class="col-lg-2 col-md-2 mb-2">
		    {{ form_widget(form.back, { 'attr': { 'class' : '', 'data-url': path('mipago_list_payments') } }) }}
		</div>
	    {% endif %}
	</div>
	{{ form_end(form, {'render_rest': true}) }}
  </div>
</div>