{{ form_start(form, {'attr': {'class': 'container-fluid form-group',
						 'novalidate': 'novalidate'
						} 
}) }}
{{ form_errors(form) }}
    <div class="form-row align-items-center mb-1"> 
	<div class="col-lg-2 col-md-2 col-sm-6">
	    {{ form_label(form.inscription.dni) }}
	    {{ form_widget(form.inscription.dni, { 'id': '', 'attr': { 'class' : 'form-control-sm' } }) }}
	</div>
	<div class="col-lg-2 col-md-2 col-sm-6">
	    {{ form_label(form.inscription.nombre) }}
	    {{ form_widget(form.inscription.nombre, { 'attr': { 'id': '', 'class' : 'form-control-sm' } }) }}
	</div>
	<div class="col-lg-2 col-md-2 col-sm-6">
	    {{ form_label(form.inscription.apellido1) }}
	    {{ form_widget(form.inscription.apellido1, { 'attr': { 'id': '', 'class' : 'form-control-sm' } }) }}
	</div>
	<div class="col-lg-2 col-md-2 col-sm-6">
	    {{ form_label(form.inscription.apellido2) }}
	    {{ form_widget(form.inscription.apellido2, { 'attr': { 'id': '', 'class' : 'form-control-sm' } }) }}
	</div>
	<div class="col-lg-2 col-md-2 col-sm-6">
	    {{ form_label(form.inscription.email) }}
	    {{ form_widget(form.inscription.email, { 'attr': { 'id': '', 'class' : 'form-control-sm' } }) }}
	</div>
	<div class="col-lg-2 col-md-2 col-sm-6">
	    {{ form_label(form.inscription.telefono) }}
	    {{ form_widget(form.inscription.telefono, { 'attr': { 'id': '', 'class' : 'form-control-sm' } }) }}
	</div>
	<div class="col-lg-4 col-md-4 col-sm-6">
	    {{ form_label(form.activity) }}
	    {{ form_widget(form.activity, { 'attr': { 'id': '', 'class' : 'form-control-sm' } }) }}
	    {{ form_errors(form.activity) }}
	</div>
	<div class="col-lg-2 col-md-2 col-sm-6">
	    {{ form_label(form.quantity) }}
	    {{ form_widget(form.quantity, { 'attr': { 'id': '', 'class' : 'form-control-sm' } }) }}
	</div>
    </div>
    <div class="form-row align-items-center mb-1">
	{% if readonly == false %}
	    {{ form_widget(form.buy, { 'attr': { 'class' : 'btn btn-primary ml-1' } }) }}
	{% endif %}
	{% set url = path('receipt_find') %}
	{{ form_widget(form.back, { 'attr': { 'class' : 'js-back btn btn-primary ml-1' ,
					     'data-url' : url },
				  }) }}
    </div>
{{ form_end(form, {'attr': {'class': '',
			       } 
}) }}
