{% extends 'base.html.twig' %}

{% block title %}{{'messages.appTitle' | trans }}{% endblock %}

{% block body %}
    <main>
	<div class="container-fluid mt-2">
	{{ include('tickets/_form.html.twig',{
	    'readonly': false,
			    }) }}
	</div>
    </main>
{% endblock body %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('tickets_buy') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('tickets_buy') }}
{% endblock %}
